.Tile {
  border: 1px solid black;
  width: var(--tile-size);
  height: var(--tile-size);
}

.color-white {
  background-color: var(--color-white);
}

.color-blue {
  background-color: var(--color-blue);
}

.color-green {
  background-color: var(--color-green);
}

.color-red {
  background-color: var(--color-red);
}
