body {
  margin: 0;
  font-family: -apple-system, 'Roboto';
}

:root {
  // Tile Colors
  --color-white: #eaeaea;
  --color-orange: #ff6600;
  --color-blue: #0000ff;
  --color-pink: #cc00ff;
  --color-green: #00ff00;
  --color-teal: #66ccff;
  --color-red: #ff0000;

  // Tile size
  --tile-size: 50px;

  // Grid Configuration
  --cols: 11;
}

.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 11);

  width: calc(var(--tile-size) * (20));
  margin: auto;
  display: grid;

  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px auto;

  grid-template-areas:
    'h h h'
    'l c r';
}
